
/* Jumbotron Style */
.main-hero{
    height: 94vh;
    width: 100vw;
    background-image: url("../images/home-jumbotron.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.hero-text-container{
    position: relative;
    top: 154px;
}
.hero-border-top{
    height: 6px;
    width: 100px;
    background-color: #d39e00;
    margin-bottom: 10px;
    border-radius: 10px;
}
.hero-main-text h1:nth-child(odd){
    font-size: 46px;
    color: rgba(248, 249, 250, 0.75);
    margin-bottom: -4px;
}
.hero-main-text h1{
    font-size: 60px;
    color: #d39e00;
    font-weight: 600;
}
.hero-sub-text{
    color: rgba(255, 255, 255, 0.6705882352941176);
    font-size: 20px;
}
.btn-inquire{
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6705882352941176);
    font-weight: bold;
}

.booking-form-container{
    width: 450px;
    height: auto;
    background-color: #49505763;
    position: absolute;
    right: 178px;
    top: 220px;
}

/* End of Jumbotron */

/* Navbar Style */
.navbar-custom{
    background-color: rgb(2, 29, 31);
    top: 0;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #d39e00;
}
/* End of Navbar */

/* Media Queries */
@media (max-width: 575.98px) {
    .navbar-custom{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 767.98px) { 
    .navbar-custom{
        padding-left: 100px;
        padding-right: 100px;
    }
}
/* End of Media Queries */

